<%- include('../partials/header.ejs') -%>
<div class="container">
    <div class="row justify-content-center mt-5">
        <ul class="row list-unstyled">
            <li><a href="/reports/rentroll">Rent Roll</a></li>
            <li><a href="/reports/findtenant">Find Tenant</a></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center mt-5">
        <ul class="row list-unstyled">

        </ul>
    </div>
</div>

<h1><%= tableHeading %> </h1>
<!-- Button to demonstrate calling the grid's API. -->
<button onclick="deselect()">Deselect Rows</button>
<!-- The div that will host the grid. ag-theme-alpine is the theme. -->
<!-- The gid will be the size that this element is given. -->
<div id="myGrid" class="ag-theme-alpine" style="height: 500px"></div>
<script type="text/javascript">
    // Function to demonstrate calling grid's API
    function deselect() {
        gridOptions.api.deselectAll()
    }

    // Grid Options are properties passed to the grid
    const gridOptions = {

        // each entry here represents one column
        columnDefs: [
            { field: "Lease Date" },
            { field: "Landlord Control" },
            { field: "Building Control" },
            { field: "Street Control" },
            { field: "First Name" },
            { field: "Last Name" },
            { field: "leaseStart" },
            { field: "leaseEnd" },
            { field: "numOfBedrooms" },
            { field: "tenantStatus" },
            { field: "tenantStatusDate" },
            { field: "renewalRent" },
            { field: "carportRent" },
            { field: "petFee" },


        ],

        // default col def properties get applied to all columns
        defaultColDef: { sortable: true, filter: true },

        rowSelection: 'multiple', // allow rows to be selected
        animateRows: true, // have rows animate to new positions when sorted

        // example event handler
        onCellClicked: params => {
            console.log('cell was clicked', params)
        }
    };

    // get div to host the grid
    const eGridDiv = document.getElementById("myGrid");
    // new grid instance, passing in the hosting DIV and Grid Options
    new agGrid.Grid(eGridDiv, gridOptions);

    // Fetch data from server
    fetch("http://localhost:3021/api/allTenants")
        .then(response => response.json())
        .then(data => {
            // load fetched data into grid
            gridOptions.api.setRowData(data);
            console.log(data)
        });
</script>

<%- include('../partials/footer') -%>