<!-- <div class="col-6 mt-5"> -->

<!-- <footer class="text-center text-lg-start bg-light text-muted">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <a class="btn btn-primary me-4" href="/home">Return to home</a>
        <a class="btn btn-primary me-4" href="/allTenants">Return to Tenant Feed</a>
        <a class="btn btn-primary me-4" href="/reports">Return to Tenant Feed</a>
    </section>
</footer> -->



<div class="container  ">
    <footer class="py-3 mt-5 border-top">
        <ul class="nav justify-content-center  pb-3 mb-3">
            <li class="nav-item"><a href="/home" class=" nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="/allTenants" class=" nav-link px-2 text-muted">Tenants</a></li>
            <li class="nav-item"><a href="/reports" class=" nav-link px-2 text-muted">Reports</a></li>
        </ul>
        <p class="text-center text-muted">&copy; 2022 Company, Inc. By: <a href="https://jasoncarr.dev">Jason Carr</a>  </p>
    </footer>
</div>
<!-- </div> -->

<script src="/js/main.js"></script>
<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"> </script>
<!-- end of the page -->
<script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>

<script src="/components/like-button.js"></script>
</body>
</html>