<%- include('partials/header') -%>

<section class="container" id="mainContainerDiv">
  <!-- FORM -->
  <form action="/tenants/addTenant" method="POST">
    <div class="row g-5">

      <div class="col-md-7 col-lg-8">

        <!-- ROW -->
        <div class="row g-3">

          <!-- LEASE DATE -->
          <div class="col-12">
            <label for="leaseDate">Lease Date</label>
            <input type="date" name="leaseDate" id="leaseDate">
            <div class="invalid-feedback">
              Lease Date is.
            </div>
          </div>

          <!-- QUICKBOOKS STATUS -->
          <div class="col-12">
            <label for="quickbooksStatus">Quickbooks Status</label>
            <select name="quickbooksStatus" id="quickbooksStatus">
              <option value="addNewTenant">Add New Tenant</option>
              <option value="deleteMemorizedInvoice">Delete Memorized Invoice</option>
              <option value="deleteMemorizedInvoice">Delete Memorized Invoice</option>
              <option value="addedNewTenant" selected>Added New Tenant</option>
              <option value="deletedMemorizedInvoice">Deleted Memorized Invoice</option>
              <option value="updatedMemorizedInvoice">Updated Memorized Invoice</option>
            </select>
            <div class="invalid-feedback">
              quickbooksStatus is.
            </div>
          </div>

          <!-- TENANT NAME -->
          <div class="col-sm-6">
            <label for="firstName" class="form-label">First name</label>
            <input type="text" class="form-control" id="firstName" placeholder="First Name" name="firstName">
            <div class="invalid-feedback">
              Valid first name is.
            </div>
          </div>
          <div class="col-sm-6">
            <label for="lastName" class="form-label">Last name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Last Name" name="lastName">
            <div class="invalid-feedback">
              Valid last name is.
            </div>
          </div>

          <!-- BUILDING CONTROL -->

          <!-- landlordControl -->
          <div class="col-12">
            <label for="landlordControl">landlordControl</label>
            <!-- TODO -->
            <select name="landlordControl" id="landlordControl">
              <option value="borntHill">BH</option>
              <option value="hollandHouse">HH</option>
              <option value="garyLynn">GL</option>
              <option value="stRegis">STR</option>
              <option value="riverTerrace">RT</option>
              <option value="mbw">MBW</option>
              <option value="spathi">SPATHI</option>
              <!-- ADD CARR, SPATHI, ETC.. OPTIONS FOR MOM TO CREATE NEW? -->
              <option value="vacant">VACANT</option>

            </select>
            <div class="invalid-feedback">
              landlordControl is.
            </div>
          </div>

          <!-- streetControl -->

          <!-- APT NUMBER -->
          <div class="col-md-3">
            <!-- TODO make right size -->
            <label for="apartmentNumber" class="form-label">apartmentNumber</label>
            <input type="text" class="form-control" id="apartmentNumber" placeholder="apartmentNumber">
            <div class="invalid-feedback">
              apartmentNumber.
            </div>
          </div>

          <!-- END FORM -->
          <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</section>

<%- include('partials/footer') -%>