<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
    <div class="col-6">
      <div>
        <p><strong>User Name</strong>: <%= user.userName %></p>
        <p><strong>Email</strong>: <%= user.email %></p>
        <a href="/logout" class="col-3 btn btn-primary">Logout</a>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="row justify-content-center mt-5">
      <a class="btn btn-primary" href="/addTenant">Add a new tenant</a>
    </div>
  </div>

  <div class="col-4">
    <div class="row justify-content-center mt-5">
      <a class="btn btn-primary" href="/tenants">View Tenants</a>
    </div>
  </div>

  <!-- TODO "Choose a report to view" -->
  <div class="col-4">
    <div class="row justify-content-center mt-5">
      <a class="btn btn-primary" href="/reports">View Reports</a>
    </div>
  </div>

</div>
<%- include('partials/footer') -%>